.expense-tracker-demo {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 400px;
}
.container {
  margin: 10px auto;
  width: 400px;
}
.income-expense-wrapper {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-top: 1px solid #0f172b;
  border-bottom: 1px solid #0f172b;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.headerOne {
  font-size: 32px;
}
.headerTwo {
  font-size: 26px;
}
.headerFour {
  font-size: 22px;
}

.income-expense-wrapper > div {
  flex: 1;
  text-align: center;
}

.income-expense-wrapper > div:first-of-type {
  border-right: 1px solid #0f172b;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.expense-label {
  display: inline-block;
  font-size: 1rem;
  margin: 10px 0 0 1rem;
}

.transaction-input {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #cbd5e1;
  box-shadow: var(--box-shadow);
  color: #0f172a;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

.form {
  width: 100%;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.deletebtn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
