.table-header {
  height: 50px;
}
.table-row-height {
  height: 20px;
}
.modal-position {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.passord-icon {
  position: relative;
  left: 337px;
  top: -28px;
}
